:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Cairo', sans-serif;
  src: local('Cairo'), url(/src/assets/fonts/Cairo-VariableFont_slnt\,wght.ttf) format('ttf');
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


.card-builder-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.card-builder-icon {
  display: inline-block;
  height: 1rem;
  margin-right: .2rem;
}

.card-builder-icon.element-icon {
  height: 1.5rem;
  margin-right: -.5rem;
}

.card-builder-icon.type-icon {
  filter: brightness(0) saturate(100%) invert(99%) sepia(5%) saturate(9%) hue-rotate(286deg) brightness(100%) contrast(100%);
}

.card-builder-no-icon-space {
  width: 1.6rem;
}

.tooltip {
  font-size: 0.8rem;
  color: gray;
}

.word-spacing-big {
  word-spacing: 0.5rem;
}

.btn-main-container {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.btn-guardar-container {
  display: flex;
  gap: .3rem;
}

.btn-guardar {
  background-color: #366b4f;
}

.btn-guardar.error {
  background-color: darkred;
}

.error-p {
  align-self: flex-start;
  font-size: .8rem;
  color: red;
  opacity: 0.8;
  padding: 0;
}

.card-preview-container {
  width: 543px;
  height: 756px;
  position: relative;
  overflow: hidden;
  font-family: 'Cairo';
  text-shadow: 2px 2px 3px black;
  box-shadow: 1.6px 3.2px 3.2px hsl(0deg 0% 0% / 0.45);
  border-radius: 1.25rem;
  overflow: hidden;
}

.card-preview-full-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.card-preview-texture {
  z-index: 20;
  background-image: url(assets/img/base/textura.png);
  mix-blend-mode: darken;
}

.card-text {
  position: absolute;
  z-index: 2;
}

.card-title {
  text-align: center;
  top: -4%;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 500;
  font-size: 2.2rem;
  letter-spacing: -0.1rem;
  text-transform: uppercase;
  text-wrap: nowrap;
}

.stat-health {
  text-align: center;
  letter-spacing: -0.4rem;
  top: 57%;
  right: 5.3%;
  font-weight: 500;
  font-size: 4.8rem;
  width: 20%;
}

.stat-mana {
  text-align: center;
  letter-spacing: -0.4rem;
  top: 73.1%;
  right: 0.4%;
  font-weight: 500;
  font-size: 2.5rem;
  width: 20%;
}

.stat-mana-main {
  top: 58%;
  right: 5.2%;
  font-size: 4.8rem;
}

.stat-attack, .stat-accuracy, .stat-speed, .stat-defense {
  text-align: right;
  letter-spacing: -0.4rem;
  font-weight: 500;
  font-size: 2rem;
  width: 20%;
}

.stat-attack {
    top: 83%;
    right: 11.7%;
}

.stat-defense {
    top: 89.5%;
    right: 11.7%;
}

.stat-accuracy {
    top: 71.6%;
    right: 27.5%;
}

.stat-speed {
    top: 75.8%;
    right: 21.5%;
}

.card-description-container {
  top: 74%;
  left: 6%;
  text-align: left;
  font-size: 1.15rem;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  font-weight: 500;
}

.card-description {
  margin: 0;
  padding: 0;
  white-space: pre-line;
}

.description-parse-wrapper {
  text-wrap: nowrap;
}

.description-icon {
  height: 1.25rem;
  position: relative;
  top: .2rem;
  -webkit-filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 1));
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 1));
}
.description-icon-space {
  margin: 0 .1rem;
}
.description-icon.vida, .description-icon.mana {
  top: .1rem;
  margin-left: 0.15rem;
}

.description-stat {
  font-weight: bold;
}

.description-stat.defensa { color: #878786; }
.description-stat.ataque { color: #c11b1f; }
.description-stat.vida { color: #ca1622; }
.description-stat.mana { color: #5fc4df; }
.description-stat.punteria { color: #b65ea1; }
.description-stat.velocidad { color: #6ebe93; }

.description-stat.criatura { color: #a81414; }
.description-stat.conjuro { color: #1c2dc9; }
.description-stat.maldicion { color: #111770; }
.description-stat.accion { color: #eb9311; }
.description-stat.equipamento { color: #e9cb24; }
.description-stat.locacion { color: #3fb978; }
.description-stat.token { color: #fae898; }

.description-stat.ninguna { color: #faeeb8; }
.description-stat.hivebreed { color: #f0d457; }
.description-stat.koraikan { color: #da3535; }
.description-stat.drask { color: #46c22d; }
.description-stat.thavensol { color: #3244eb; }

.description-stat.humano { color: #eaecc3; }
.description-stat.bestia { color: #e95353; }
.description-stat.reptiliano { color: #64ca5b; }
.description-stat.insectoide { color: #e4be9b; }

.description-stat.guerrero { color: #c7bbb0; }
.description-stat.tanque { color: #c0865f; }
.description-stat.berserker { color: #ec5752; }
.description-stat.asesino { color: #c752c1; }
.description-stat.mago { color: #4845eb; }
.description-stat.support { color: #4eb17f; }

.description-stat.tierra { color: #976f4a; }
.description-stat.fuego { color: #c25744; }
.description-stat.agua { color: #266acf; }
.description-stat.aire { color: #e6c63c; }
.description-stat.trueno { color: #4eb17f; }
.description-stat.hielo { color: #8dbfe0; }

.description-stat.rapido { color: #ffc477; }
.description-stat.ofensivo { color: #db5f40; }
.description-stat.restrictivo { color: #9b6bf5; }
.description-stat.unico { color: #fdff81; }

input, select, textarea {
  display: block;
}

input, select, textarea {
  margin-top: 0.3rem;
  width: 90%;
}

label {
  display: block;
  padding: 1rem .2rem 0 .2rem;
  text-align: left;
  box-sizing: border-box;
}

.label-half {
  display: inline-block;
  width: 50%;
}

textarea {
  width: 400px;
  height: 400px;
}

.card-preview-types-container {
  display: flex;
  align-items: flex-start;
  position: absolute;
  top: 68%;
  left: 2rem;
  width: 100%;
  height: 1.5rem;
}

.card-preview-type {
  display: flex;
  justify-content: center;
  font-size: 1.1rem;
}

.card-preview-atts-container {
  display: flex;
}

.card-preview-types-separator {
  padding: 0 .5rem 0 .3rem;
  opacity: 0.3;
  color: white;
  font-size: 1.7rem;
  position: relative;
  top: -8px;
}

.card-preview-type-icon {
  display: inline-block;
  height: 1.7rem;
  margin-right: .2rem;
  -webkit-filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 1));
  filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 1));
}

.card-type-name {
  margin: 0;
  padding: 0;
  padding-right: 1rem;
  position: relative;
  top: 1px;
  text-transform: capitalize;
}

.label-elemento {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.label-elemento > select {
  position: relative;
  top: -2px;
}

.elementos-btn-reiniciar {
  font-size: .8rem;
  padding: 0.3rem 0.6rem;
  margin-top: 1rem;
}

.card-preview-elements-container {
  position: absolute;
  top: 8.5%;
  right: 5%;
  width: 2rem;
}

.card-preview-element {
  margin: -4px 0;
}

.elementos-repetidos {
  color: black;
  background-color: red;
}

.card-preview-trama-invertido {
  opacity: 0.4;
}

.card-preview-type-container {
  position: absolute;
  top: 9%;
  left: 17%;
  height: 1.1rem;
  /* width: 8rem; */
  padding: 0 .3rem;
  transform: skew(-20deg);
  text-transform: uppercase;
  letter-spacing: .3rem;
  font-size: .8rem;
  color: black;
}

.card-preview-type-container > div {
  transform: skew(20deg);
}

.card-preview-type-span {
  position: relative;
  top: -0.12rem;
  left: .1rem;
  text-shadow: none;
}

@media print {
  html, body, #root, :root {
    background-color: white;
  }

  .card-builder-data, .btn-main-container {
    display: none;
  }

  .card-preview-container {
    border-radius: 0;
    box-shadow: none;
  }
}

@page {
  size: A4;
  margin: none;
}